.cal-container{
	border:1px solid #ccc;
	background:#eee;
	border-radius:4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	min-width:290px;
}
.cal-header{
	border-bottom:1px solid #ccc;
	background:#eee;
	padding:0;
	text-align:center;
	border-radius:4px;
}
.cal-month-change{
	color:#555;
}
.cal-body{
	background:#eee;
	border-radius:4px;
}
.cal-row{
	text-align:center;
}
.cal-ele{
	display:inline-block;
	padding-left:9px;
	padding-right:9px;
	min-width:36px;
	position:relative;
	opacity:0.8;
}
.cal-ratio{
	position:absolute;
	top:0;
	left:0;
	background-color:#0f0;
	height:100%;
	opacity:0.2;
	border-radius: 4px;
	z-index:-1;
}
.cal-ele.weekend{
	color:red;
}
.cal-ele.other-month{
	background:#eee;
}
.btn.cal-ele[checked]{
	background-color:#5bc0de;
	border-color:#46b8da;
	color:#fff;
}
.btn.cal-ele:hover{
	background-color:#31b0d5;
	border-color:#269abc;
	color:#fff;
}
@media (min-width:768px){
.cal-ele{
	margin:10px 4.1%;
	width:5.9%;
	min-width:0;
}
}

.attr-ele{
	position:relative;
	opacity:0.8;
}
.btn.attr-ele[checked]{
	background-color:#5bc0de;
	border-color:#46b8da;
	color:#fff;
}
.btn.attr-ele:hover{
	background-color:#31b0d5;
	border-color:#269abc;
	color:#fff;
}
.attr-ratio{
	position:absolute;
	top:0;
	left:0;
	background-color:#0f0;
	height:100%;
	opacity:0.2;
	border-radius: 4px;
	z-index:-1;
}
